section:first-of-type {
  width: 45%;
  form {
    .inputContainer {
      display: flex;
      align-items: flex-end;
      @include marginAround;

      // width of the label containing images
      .labelContainer {
        width: 60%;
        margin: auto;
      }

      input {
        background-color: grey;
        @include fontStyleTitle(40px);
        border: none;
        border-bottom: white 2px solid;
        margin-right: 1rem;
      }

      // style of the buttons (containing images)
      button {
        width: 15%;
        background-color: grey;
        border: none;
      }
    }
  }
}