.img {
  width: 100%;
}
.imgContainer {
  width: 10%;
}

body {
  background-color: grey;
  main {
    display: flex;
    justify-content: space-between;
    section{
        @include marginAround;
    }
  }
}
